   header {
      text-align: center;
      background-image: url("https://static.pexels.com/photos/5782/nature-flowers-vintage-plant.jpg");
      background-size: cover;
      color: white;
      height:390px;
      position:relative;
      width:1900px;
   }
   
   body {
      background-color:black;
   }
   
   h1 {
      font-size: 70px;
   }
   
   .nav {
      color: #6a9f3c;
      text-align: center;
   }
   
   .navbar {
      text-align: center;
      position:absolute;
      bottom: 0;
      display:block;
      background-color:#ffb6c1;
      width:1900px;
      height:25px; 
   }
   
   li {
      display: inline;
      padding: 0px 10px 0px 10px;
   }
   
   button {
      background-color: black;
      color: pink;
   }
   
   a {
      text-align: center;
   }
   
   #logo {
      height: 60px;
      border-radius: 80px;
      float: left;
   }
   
   input {
      width: 300px;
      margin-bottom: auto;
     
   }
   
   h2 {
      color: #EBBCF9;
      background-color:; 
    }
    p{
      color:#A2E32F ;
   
   }